<% provide(:title, 'ユーザ一覧') %>
<h1>ユーザ一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :ユーザを検索 %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<%= render 'users', users: @users %>